@model MyApiNightCase.WebUI.Dtos.BookAddUpdateDto
@{
    ViewData["Title"] = "UpdateBook";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Kitap Güncelle</h5>
            <form asp-area="Admin" asp-controller="AdminBook" asp-action="UpdateBook" method="post" >
                <input type="hidden" asp-for="BookId" />
                <div class="mb-3">
                    <label class="form-label">Kitap Adı</label>
                    <input asp-for="Title" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Yazar ID</label>
                    <input asp-for="AuthorId" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Kategori ID</label>
                    <input asp-for="CategoryId" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Fiyat</label>
                    <input asp-for="Price" type="number" step="0.01" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Resim URL</label>
                    <input asp-for="ImageUrl" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Güncelle</button>
                <a asp-area="Admin" asp-controller="AdminBook" asp-action="Index" class="btn btn-secondary">İptal</a>
            </form>
        </div>
    </div>
</div>